<div class="mt-5">
    <div class="marqueez">
        <h3 class="text-center mb-3">Welcome To Sudanese American Charity</h3>
    </div>
    <carousel>
        <slide>
            <img class="center-block" src="assets/images/nature/amg1.jpg" alt="first slide" style="display: block; width: 80%;">
            <div class="carousel-caption d-none d-md-block">
                <h2>Welcome to <span>Sudanese American Charity</span></h2>

                <p>We are a nonprofit organization 501(c) 3 focused on helping underprivileged community to make the world around us a better, happier place. With the help of our tireless staff, we organize fundraisers, community-building events, and in-depth
                    training sessions for our volunteers.</p>
                <a href="#about" class="btn-get-started scrollto">Read More</a>
            </div>
        </slide>
        <slide>
            <img class="center-block" src="assets/images/nature/slide-2.jpg" alt="second slide" style="display: block; width: 80%;">
            <div class="carousel-caption d-none d-md-block">
                <h2>Refugees Serives</h2>
                <p>Every good act is humanity. A man's true wealth here after is the good that he does in this world to his fellows.</p>
                <a href="/about-us" class="btn-get-started scrollto">Read More</a>
            </div>
        </slide>
        <slide>
            <img class="center-block" src="assets/images/nature/slide3.jpg" alt="third slide" style="display: block; width: 80%;">
            <div class="carousel-caption d-none d-md-block">
                <h2>Kids Toys Giveaway</h2>
                <p>Every good act is humanity. A man's true wealth here after is the good that he does in this world to his fellows.</p>
                <a href="#about" class="btn-get-started scrollto">Read More</a>
            </div>
        </slide>
    </carousel>
    <div class="dbuttons mt-5 mb-5">
        <a href="/donate" class="btn btn-danger">DONATE NOW</a>
        <a href="/about-us" class="btn btn-success">ABOUT US</a>
    </div>
</div>