<div class="section-title text-center mt-3">
    <h2>About Us:</h2>
    <hr class="">
    <p>We are a nonprofit organization 501(c) 3 focused on helping underprivileged community to make the world around us a better, happier place. With the help of our tireless staff, we organize fundraisers, community-building events, and in-depth training
        sessions for our volunteers..</p>
</div>

<div class="row mt-5">
    <div class="col-lg-6" data-aos="fade-right">
        <img src="../../../assets/images/logo.JPG" class="img-fluid" alt="">
    </div>
    <div class="col-lg-6 pt-4 p content">
        <h3 class="">Our Goals:</h3>


        <ul>
            <li><i class=" icofont-check-circled "></i> Assist a better transition and effective integration for all refugees and immigrants.</li>
            <li><i class="icofont-check-circled "></i> Become a pass to self-sufficiency and a face to effective leadership for all American..</li>
            <li><i class="icofont-check-circled "></i>Empower refugees and immigrants’ education, developing expertise and rebuilding entrepreneurs.</li>
            <li><i class="icofont-check-circled "></i>Adopt effective partnership and resource coordination with civic and governmental agencies.</li>
        </ul>
        <h3>Our Mission</h3>
        <p class="pl-4 pr-5">Our mission is to assist, all refugees and immigrants, of all walks of life to become contributing residents of the United State of America.</p>
        <h3>Our Vision</h3>
        <p class="pl-4">Be the number one organization for refugees built by refugees.</p>
    </div>

</div>
<div class="container mt-5 mb-4 ">
    <h2 class="text-center pb-5 ">Our Teams :</h2>
    <div class="row ">
        <div class="col ">
            <div class="card " style="width: 18rem; ">
                <img class="card-img-top " src="../../../assets/images/BoardMember.png" alt="Card image cap ">
                <div class="card-body ">
                    <h5 class="card-title  text-danger">Mohammed Ibrahim</h5>
                    <p class="card-text ">Board President</p>
                    <a href="# " class="btn btn-info">Contact</a>
                </div>
            </div>
        </div>

        <div class="col ">
            <div class="card " style="width: 18rem; ">
                <img class="card-img-top " src="../../../assets/images/BoardMember.png" alt="Card image cap ">
                <div class="card-body ">
                    <h5 class="card-title  text-danger">Anwar Hussein</h5>
                    <p class="card-text ">Board President Assiatant</p>
                    <a href="# " class="btn btn-info ">Contact</a>
                </div>
            </div>
        </div>

        <div class="col ">
            <div class="card " style="width: 18rem; ">
                <img class="card-img-top " src=" ../../../assets/images/BoardMember.png" alt="Card image cap ">
                <div class="card-body ">
                    <h5 class="card-title  text-danger">Ibrahim Ishag</h5>
                    <p class="card-text ">Office Manager</p>
                    <a href="# " class="btn btn-info">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>