<div class="accordian mt-5">

    <h4 class=""><i class="fas fa-angle-double-right icon mr-2"></i>Way To Give</h4>
    <hr>


    <h5 class="mb-2 mt-2">Please click to Read More <i class="fas fa-angle-double-down icon"></i></h5>

    <accordion>

        <accordion-group heading="DONATE A CAR" class="mystyles">
            <p>Donate an unwanted vehicle and help transform a life. SACI will first try to repair your car and give it to a working family in need, or sell it and use the funds to repair other donated cars. We accept all types of vehicles - any condition,
                running or not. There is no cost to you for removal of vehicle.To donate your car contact: SACI at 630-984-7588 or info@sudaneseamericancharity.org.</p>
        </accordion-group>
        <accordion-group heading="MONTHLY GIVING">
            <p>Donate every month, make a difference every day! SACI is currently serving more than 800 families a week in our food market. A monthly recurring donation will help to provide for these families each and every month. This will also help you
                spread your financial impact across the entire year; it helps us know how to plan and you as well. The process is simple, click the donate button and choose Monthly Recurring Donation. You may cancel or suspend your giving at any time.
            </p>
        </accordion-group>
        <accordion-group heading="PLANNED GIVING">
            <p>A planned gift is a specially structured gift that is usually part of your overall estate or financial plan. A planned gift may be revocable or irrevocable, frequently provides financial benefit to the charity at a future date rather than
                currently, and could be the largest gift a donor will make.</p>
        </accordion-group>
        <accordion-group heading="SPONSOR AN EVENT">
            <p>Thank you for giving consideration to host an event to benefit Sudanese American Charity Organization. If you are interested in sponsoring a SACI event, please email Anwer Suliman, Director of Marketing & Communications at info@sudaneseamericancharity.org</p>
        </accordion-group>
        <accordion-group heading="SPONSORS & PARTNERS">
            <p>We are grateful for the tremendous support of our partners. Collaboration is the foundation of our organization - by working together we can accomplish great things! SACI also partners with other community organizations to serve those in need.</p>
        </accordion-group>
    </accordion>
    <a href="/donate" class="btn btn-info btn-lg mt-3">
DONATE NOW
    </a>
</div>