<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5>Sudanese American Charity</h5>
                <p>
                    946 Roosevelt Rd <br> West Chicago IL. 60185, USA<br><br>
                    <strong>Phone:</strong> +1 630-984-7588<br>
                    <strong>Email:</strong> info@sudaneseamericancharity.org<br>
                </p>
                <div class="social-links mt-3">
                    <a href="#" class="twitter  p-2"><i class="fab fa-twitter fa-3x"></i></a>
                    <a href="#" class="facebook p-2"><i class="fab fa-facebook fa-3x"></i></a>
                    <a href="#" class="instagram p-2"><i class="fab fa-instagram fa-3x"></i></a>
                    <a href="#" class="linkedin p-2"><i class="fab fa-linkedin fa-3x"></i></a>
                </div>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Useful Links</h5>

                <ul class="list-unstyled">
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Our Services</h5>

                <ul class="list-unstyled">
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Welcome refugees</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Documents translation</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Driving permits Services</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Road test Training</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Doctors Appointment</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">After School tutoring</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Family counseling</a></li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="http://sudaneseamericancharity/"> Sudanese American Charity</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->