<div class="container mt-3">


    <h2 class="text-center bg-light">Services</h2>

    <hr>
    <h3 class="text-center">Welcome Refugee To our Services </h3>




    <div class="row bg-light mt-3 ">
        <div class="col-lg-4 col-md-6 mb-2">
            <div class="card" style="width: 18rem;">
                <i class="far fa-file-word fa-3x icon mt-1"></i>
                <div class=" card-body ">
                    <h5 class="card-title ">Documents Translation</h5>
                    <p class="card-text ">Refugee bring your document if you need a translation.</p>
                    <a href="/contact-us " class="btn btn-light"> Make  an appointment</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-2 ">
            <div class="card " style="width: 18rem; ">
                <i class="far fa-address-card fa-3x icon mt-1"></i>
                <div class="card-body ">
                    <h5 class="card-title ">Driving Permits Services</h5>
                    <p class="card-text ">We help Refugees to get Driving Permit.</p>
                    <a href="/contact-us " class="btn btn-light "> Make  an appointment</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-2 ">
            <div class="card " style="width: 18rem; ">
                <i class="fas fa-car-side fa-3x icon mt-1"></i>
                <div class="card-body ">
                    <h5 class="card-title ">Road Test Training</h5>
                    <p class="card-text ">We help Refugees in driving Training and get them ready for road Test.</p>
                    <a href="/contact-us " class="btn btn-light "> Make  an appointment</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-2 ">
            <div class="card " style="width: 18rem; ">
                <i class="fas fa-user-md fa-3x icon mt-1"></i>
                <div class="card-body ">
                    <h5 class="card-title ">Doctors Appointment</h5>
                    <p class="card-text "> We help Refugees to set an Appoitment for Doctor Office </p>
                    <a href="/contact-us " class="btn btn-light "> Make  an appointment</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-2 ">
            <div class="card " style="width: 18rem; ">
                <div class="icon"><i class="fas fa-chalkboard-teacher fa-3x icon mt-1"></i></div>
                <div class="card-body ">
                    <h5 class="card-title ">After School Tutoring</h5>
                    <p class="card-text ">We help Refugeesby offering after school classes and ESL classes coming Soon.</p>
                    <a href="/contact-us " class="btn btn-light"> Make  an appointment</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-2 ">
            <div class="card " style="width: 18rem; ">
                <i class="far fa-file-word fa-3x icon mt-1"></i>
                <div class="card-body ">
                    <h5 class="card-title ">Family Counseling</h5>
                    <p class="card-text ">We help Refugees family Cosulting to avoid issues which break family.</p>
                    <a href="/contact-us " class="btn btn-light "> Make  an appointment</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-2 ">
            <div class="card " style="width: 18rem; ">
                <i class="fas fa-kaaba fa-3x icon mt-1"></i>
                <div class="card-body ">
                    <h5 class="card-title ">Ramadan Iftars</h5>
                    <p class="card-text "> We organizing some Ramadan Iftar, so any one want to Sponsor can donate to us.</p>
                    <a href="/contact-us " class="btn btn-light"> click to Donate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-2 ">
            <div class="card " style="width: 18rem; ">
                <i class="fas fa-balance-scale fa-3x icon mt-1"></i>
                <div class="card-body ">
                    <h5 class="card-title ">Minor Legal services</h5>
                    <p class="card-text ">We help Refugees Minors For legal services. </p>
                    <a href="/contact-us " class="btn btn-light "> Make  an appointment</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-2 ">
            <div class="card " style="width: 18rem; ">
                <i class="fas fa-box fa-3x icon mt-1"></i>
                <div class="card-body ">
                    <h5 class="card-title ">Kids Toys Giveaway</h5>
                    <p class="card-text ">we provide Refugees kids with toys, we accept toys please donate .</p>
                    <a href="/contact-us " class="btn btn-light "> Click to Donate</a>
                </div>
            </div>
        </div>

    </div>


</div>